
<app-loading *ngIf="!movieCast"></app-loading>

<div 
*ngIf="movieCast"
class="card row p-4 m-4 bg-dark rounded alert-info sm-flex">
<div  class="row">
    <img *ngIf="windowWidth() >= 600" class="poster col" 
        src={{movieImage}}>
    
  
    <div class="col ">
        
    
    <h4 class="text-warning " >CAST</h4>
        <hr class="">
        
<div class="card col alert-warning mb-2 sm-flex">
    <div *ngIf="windowWidth() < 600" class="row  sm-flex ">
        <img class="poster col" 
            src={{movieImage}}>
        
      </div>              

        <div class="card row alert-secondary sm-flex">
            <div  class="progress p-1 ">
                <div 
                id="progress-bar"
                [ngStyle]="progressBarStyle()"
                class="progress-bar ">
            </div>
        </div>
          
        <div class="btn-group  ">

            <div class="m-1  ">
                <button 
                (click)="castIncrementEvent($event)"
                id="cast-prev"
                class="btn btn-outline-info text-info  ">&#8678;</button>
            </div>
            
            <div class="m-1  ">
                <button 
                (click)="navigateToActorDetails()"
                id="cast-prev"
                class="btn btn-outline-info text-info  ">Actor Details</button>
            </div>

            <div class="m-1  ">

                <button 
                (click)="castIncrementEvent($event)"
                id="cast-next"
                class="btn btn-outline-info text-info  ">&#8680;</button>
            </div>
            
        </div>
        
                            
    <div class="col sm-cast-info sm-col ">

        <ul class="list-group col sm-col " >
            <li class="card " *ngFor="let cast of movieCast;index as i">
                <div class="p-2 " *ngIf="i === castIndex">
                    <label class="text-small text-muted text-warning " >Name</label>
                    
                    <p class="text-success ">{{cast.name}}</p>
                    <hr class="">
                    <label class="text-muted ">Role</label>
                    <div class="text-success " [innerHTML]="cast.role"></div>
                    <hr>
                    <label class="text-muted " >Character Name</label>
                    <div  class="text-success " [innerHTML]="cast.characterName">
                        
                    </div>
                    
                </div>
                
            </li>
        </ul>
    </div>
        </div>
    </div>        
</div> 

</div></div>