<form class="row-2 p-4 m-4 bg-dark" >
<div class="row row-cols-1 row-cols-sm-2 g-3 m-4 p-4 bg-dark">
    <div class="col">
      <div class="card border border-secondary">
        <button id="btn-1" class="btn btn-outline-light text-warning">Edit</button>
        <div class="card-body">
          <h5 class="card-title text-muted">User Name</h5>
          <p *ngIf="!notIsActive[0].isActive"  class="card-text text-success">{{registeredUser.userName}}</p>
          <input 
          class="form-control"
          *ngIf="notIsActive[0].isActive" 
          type="text" 
          name="address" 
          placeholder={{registeredUser.userName}}  
          ngModel>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-secondary">
        <button id="btn-2"  class="btn btn-outline-light text-warning" >Edit</button>
        <div class="card-body">
          <h5 class="card-title text-muted">Full Name</h5>
          <p *ngIf="!notIsActive[1].isActive"  class="card-text">{{registeredUser.firstName}} {{registeredUser.lastName}}</p>
          <input 
          class="form-control"
          *ngIf="notIsActive[1].isActive" 
          type="text" 
          name="address" 
          placeholder={{getFullName()}}  
          ngModel>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-secondary">
        <button id="btn-3"  class="btn btn-outline-light text-warning" >Edit</button>
        <div class="card-body">
          <h5 class="card-title text-muted">Address</h5>
          <p *ngIf="!notIsActive[2].isActive"  class="card-text">{{registeredUser.address}}</p>
          <input 
          class="form-control"
          *ngIf="notIsActive[2].isActive" 
          type="text" 
          name="address" 
          placeholder={{registeredUser.address}}  
          ngModel>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-secondary">
        <button id="btn-4"  class="btn btn-outline-light text-warning" >Edit</button>
        <div class="card-body">
          <h5 class="card-title text-muted">City</h5>
          <p *ngIf="!notIsActive[3].isActive"  class="card-text">{{registeredUser.city}}</p>
          <input 
          class="form-control"
          *ngIf="notIsActive[3].isActive" 
          type="text" 
          name="address" 
          placeholder={{registeredUser.state}}  
          ngModel>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card border border-secondary">
          <button id="btn-5"  class="btn btn-outline-light text-warning">Edit</button>
          <div class="card-body">
            <h5 class="card-title text-muted">Password</h5>
            <p *ngIf="!notIsActive[4].isActive"  class="card-text text-success" type="password">{{registeredUser.password}}</p>
            <input 
            class="form-control"
            *ngIf="notIsActive[4].isActive" 
            type="password" 
            name="password" 
            for="password" 
            placeholder={{registeredUser.password}}  
            ngModel>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-secondary">
          <button id="btn-6"  class="btn btn-outline-light text-warning" >Edit</button>
          <div class="card-body">
            <h5 class="card-title text-muted">Phone Number</h5>
            <p *ngIf="!notIsActive[5].isActive"  class="card-text">{{registeredUser.phone}}</p>
            <input 
            class="form-control"
            *ngIf="notIsActive[5].isActive" 
            type="text" 
            name="address" 
            placeholder={{registeredUser.phone}}  
            ngModel>
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card border border-secondary">
          <button id="btn-7"  class="btn btn-outline-light text-warning">Edit</button>
          <div class="card-body">
            <h5 class="card-title text-muted">State</h5>
            <p *ngIf="!notIsActive[6].isActive"  class="card-text">{{registeredUser.state}}</p>
            <input 
            class="form-control"
            *ngIf="notIsActive[6].isActive" 
            type="text" 
            name="address" 
            placeholder={{registeredUser.state}} 
            ngModel>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-secondary">
          <button id="btn-8"  class="btn btn-outline-light text-warning" >Edit</button>
          <div class="card-body">
            <h5 class="card-title text-muted">Zip Code</h5>
            <p *ngIf="!notIsActive[7].isActive" class="card-text">{{registeredUser.zipCode}}</p>
            <input 
            class="form-control"
            *ngIf="notIsActive[7].isActive" 
            type="text" 
            name="address" 
            placeholder={{registeredUser.zipCode}}  
            ngModel>
          </div>
        </div>
      </div>
      
  </div>
  
  <div *ngIf="isSubmit()" class="row-12">
    <button class="btn btn-dark w-100" >Submit</button>
  </div>
</form>