
    <div class="border border-success p-1 m-4 rounded bg-primary">
    
        <form 
        *ngIf="!getLoggedInUser()"
        class="form-group p-4 m-4 bg bg-dark rounded " 
        (ngSubmit)="onSubmit(login)" #login="ngForm" >
            <h4 class="text-warning text-center font-monospace" >Moogle Account Login</h4>
            <div class="form-floating mb-3">
    
                <input 
                class="form-control  border-success" 
                type="name" 
                name="userName" 
                placeholder="username" 
                ngModel>
                <label 
                class=" text-light  rounded " 
                for="floating-input" >Enter Username</label>
            </div>
    
            <div class="form-floating mb-3">
                
                <input class="form-control border border-success " 
                for="floating-input" 
                name="password" 
                placeholder="password" ngModel>
                <label class=" text-light  rounded " for="password">Enter Password</label>
            </div>
    
            <div class="row m-1 border border-success p-1 rounded bg-dark">
                <button 
                type="submit" 
                class="btn btn-outline-info text-success" >Submit</button>
            </div>
        </form> 
    </div>


<app-account-details *ngIf="getLoggedInUser()" [registeredUser]="getLoggedInUser()" >

</app-account-details>

<div *ngIf="getLoggedInUser()">
    <h4 class="text-center text-success" >Login Successfull!</h4>
    <div class="border border-success p-4 m-4 rounded bg-dark">
        <div class="row row-cols-2">
            <div class="row m-1 border border-success p-1 rounded bg-dark">
                <button 
                routerLink="/home" 
                class="btn bg-secondary text-success m-1" >
                Home
            </button>
            </div>
            <div class="row m-1 border border-success p-1 rounded bg-dark">
                <button routerLink="/home" class="btn bg-warning text-danger m-1" (click)="logout()" >Logout</button>
            </div>
        </div>
        
    </div>
    

</div>


