
<div
class="card p-4 m-4 bg-dark rounded border border-success "
 >

    <div>
        
        <h4 class="text-warning" >Trailer</h4>
        <hr>
        <div class="row">
            <div  class="row card-body bg-dark border ">
                <div class="row float-left">
                    

                    
                        <div 
                        
                        class="col card ">
                        <app-loading *ngIf="!trailerUrl"></app-loading>
                            <vg-player *ngIf="isActive" >
                                        
                                <video  [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" controls>
                                    <source 
                                    src={{trailerUrl}}
                                    type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->





