
<ng-container *ngIf="getUser()">
<ng-template

    *ngIf="isFavorited == false; then addFavoriteBlock else removeFavoriteBlock">
</ng-template>
<ng-template #addFavoriteBlock>
    <ul class="p-2">
        <button class="btn btn-success p-1 m-2" type="button" (click)="addFavorite(); isFavorited = true"><i class="bi bi-star"></i> Favorite </button>
        <button routerLink="/home" type="button" class="btn btn-success p-1 m-2 bi bi-house" > Home </button>    
    </ul>
</ng-template>
<ng-template #removeFavoriteBlock>
    <ul class="p-2">
        <button class="btn btn-success remove p-1 m-2" type="button"tn (click)="removeFavorite(currentEmsVersionIdRxjs);isFavorited = false" ><i class="bi bi-star-fill"></i> Favorited</button>
        <button routerLink="/home" type="button" class="btn btn-success p-1 m-2 bi bi-house" > Home </button>    
    </ul>
</ng-template>
</ng-container>