

<div class="card m-4 border border-success bg-dark rounded">
    <div class="card-header">
        <h2 
        id="theater-name"
        class="text-warning" #heading >
        Theater Details
    </h2>
        <hr 
        class="text-success" >
        <ul 
        class="nav nav-tabs card-header-tabs" >
        
        <li 
        class="nav-item bg-secondary m-1" >
            <a 
            class="nav-link"
            (click)="toggleZips()" 
            id="card-tab-one">Select Zip Code</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a 
            class="nav-link" 
            (click)="toggleTheaters()"
            id="card-tab-two">Theaters</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a 
            class="nav-link" 
            (click)="toggleShowTimes()"
            id="card-tab-three">Show Times</a>
        </li>
        
        </ul>
    </div>
</div>

<!-- <div class="row">
    <h1 
class="text-center text-success alert alert-dark m-4  " >
    {{currentTheaterName ? currentTheaterName : 'Theater Details'}} 
</h1>
    <div class="btn-group">
        <button 
        (click)="toggleTheaters()" 
        class="btn btn-outline-success dropdown-toggle ">
                Theaters in your area 
        </button>
        <button 
        (click)="toggleShowTimes()"
        class="btn btn-outline-success dropdown-toggle " >
        Show Times
    </button>
    <button 
        (click)="toggleShowTimes()"
        class="btn btn-outline-success dropdown-toggle " >
        Show Times
    </button>
    </div>

</div> -->
<th *ngIf="showTimes " class="row">
        <ul 
        *ngIf="isShowTimes" 
        class="position-absolute theater-list bg-dark">
            <li 
            *ngFor="let time of showTimes" 
            class="list-group-item text-warning float-down" >
                <span  >
                    Todays Show Times | {{time.providerDate + '/' + time.providerTime | date: 'shortTime'}}
                </span>
            </li>
        </ul>
</th>
    
    <th *ngIf="theaters" class="dropdown row" >
        <ul 
        *ngIf="isToggleTheaters" 
        class="position-absolute theater-list bg-dark">
            <li 
            
            *ngFor="let theater of theaters;index as i" 
            class="list-group-item float-down col ">
                    <span 
                    class="text-warning text-center theater-list-item" 
                    (click)="clickTheaterLink(i, $event)"
                    >{{theater.name}}</span> 
            </li>
        </ul>
    </th>
    <th *ngIf="userZips" class="dropdown row" >
        <ul 
        *ngIf="isToggleZips" 
        class="position-absolute theater-list bg-dark">
            <li 
            
            *ngFor="let zip of getUserZips();index as i" 
            class="list-group-item float-down col ">
                    <span 
                    class="text-warning text-center user-zip-item" 
                    
                    >{{zip}}</span> 
                    <hr>
            </li>
        </ul>
    </th>
    <div  class="row" >
        <app-theater-details 
        
        [currentlySelectedTheater]="selectedTheater"
        (showTimesEvent)="getShowTimes($event)" ></app-theater-details>
    </div>