
<h1>test</h1>
<h1>{{this.theaterLatitude}}</h1>
<h1>{{this.theaterLongitude}}</h1>

<div *ngIf="currentlySelectedTheater">
    <div class="card m-4 p-4 border border-primary">
      <div class="row container-fluid">
        <div class="col-10"></div>
        <div class="col">
          <button 
          (click)="movieDetails(currentTitle.emsVersionId)"
          class="btn btn-outline-success">Movie Details</button>
        </div>
      </div>
      
      
        <div class="card-body">
          <h4 class="text-success" >
            <p class="card-text">{{this.currentTitle.name}}</p>
          </h4>
          
          <h6 class="card-subtitle mb-2 text-muted">Now Showing</h6>
          <div class="row" >

        </div>
        
          
          <img 
          class="image-fluid" 
          height="200px" 
          width="200px" 
          src={{currentTitle.posterImage.url}}>
          
          
        </div>
        <div class="btn-group">
            <a 
            (click)="previousTitle()"
            class="btn btn-outline-info">Previous</a>
            <a  
            (click)="nextTitle()"
            class="btn btn-outline-info">Next</a>
          </div>
      </div>
<!-- <div class="m-4 p-4">
    

    <div 
    id="carouselCrossfade" 
    class="carousel slide carousel-fade pointer-event w-100" 
    data-bs-ride="carousel">
    <div class="carousel-inner mx-auto w-100">
      <div class="carousel-item active">
        
        <div 
        class="card mx-auto w-75" >
            <h4 
            class="card-title text-center">
                {{currentTitle.name}}
                
            </h4>
            <hr >
            <div 
            class="card-img-top w-25 mx-auto">
                <img 
                height="200px"  
                src={{currentTitle.posterImage.url}} 
                class="image-fluid" alt="Slide 1">
            </div>
            <div class="container-fluid w-25 mx-auto p-5">
                <img width="200px" class="image-fluid" src={{setRatingImagePath(currentTitle.motionPictureRating.code)}}>
            </div>
            
            <p></p>
            <div 
            class="dropdown container-fluid mx-auto d-block w-25 border border-primary ">
                <button routerLink={{getCurrentMovieId()}} class="btn btn-primary dropdown-toggle">
                    {{currentTitle.name}} Details
                 </button>
            </div>
            
            <div class="card-body  ">
                
                <label class="text-success">Tomato Rating</label>
                <hr>
                <div class="list-group ">
                    
                    <p>
                    <img 
                        class="image-fluid" 
                        height="20px" 
                        width="20px" 
                        src="{{currentTitle.tomatoRating.iconImage.url}}" >Tomato Rating: {{currentTitle.tomatoRating.state}} {{currentTitle.tomatoRating.tomatometer}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" (click)="previousTitle()" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="nextTitle()" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div> -->
</div>