.image-container {
    max-width: 376px;
    max-height: 255.3px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}
.poster {
    max-width: 10rem;
}
.images-container {
    display:flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: center;
}
.carousel-image {
    max-width:10rem;
}

.star {
    visibility:hidden;
    font-size:15px;
    cursor:pointer;
  }
  
  .star:before {
    content: "\2605";
    visibility:visible;
   }
  
   .star:checked:before {
    content: "\2606";
   }

.movie-detail-container {
    overflow:hidden;
}
.vw-100 {
    width:100vw;
}
