<div *ngIf="movieDetail">

<div class="card m-4 border border-success bg-dark rounded">
    <div class="card-header">
        <!-- <button appMovieFavorite [favoriteMovie]="movieDetail"> Test Button For Favorites</button>
        <button (click)="checkIfFavorited(currentUserIdRxjs, currentEmsVersionIdRxjs)">Click Me</button> -->


        <h2 class="text-warning" >{{movieDetail.data.movie.name | uppercase}}</h2>
        <hr class="text-success" >
        <ul class="nav nav-tabs card-header-tabs" >
        <li class="nav-item bg-secondary m-1" >
            <a class="nav-link" id="card-tab-one">Description</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-two">Cast</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-three">Images</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-four">General Information</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-five">Reviews</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
        </li>
        </ul>
    </div>
</div>

<div class="card m-4 p-4 border border-success bg-dark rounded">

    <div class="row" *ngIf="movieDetail" >

        <app-favorite-movies [favoriteMovieDetails]="movieDetail"></app-favorite-movies>

        <h4 class="text-warning" >{{categoryName() | uppercase}}</h4>
        
        <hr>
        <div *ngIf="notIsActive[1].isActive" class="row ">
            <div class="btn-group">
                <div class="m-1">
                    <button 
                    (click)="castIncrementEvent($event)"
                    id="cast-prev"
                    class="btn btn-dark text-info">Prev</button>
                </div>
                
                <div class="m-1">

                    <button 
                    (click)="castIncrementEvent($event)"
                    id="cast-next"
                    class="btn btn-dark text-info">Next</button>
                </div>
            </div>
            
            <div class="progress">
                <div 
                id="progress-bar"
                [ngStyle]="progressBarStyle()"
                class="progress-bar "></div>
            </div>
        </div>
        
        <div class=" ">
            <div class="row card-body bg-dark border">
                <div class="row m-4 float-left">
                    <img class="col poster " 
                    src={{movieDetail.data.movie.posterImage.url}}>
                    <div *ngIf="notIsActive[0].isActive" class="card col border border-warning">
                        
                        <p class="card-text text-success font-monospace">{{movieDetail.data.movie.synopsis}}</p>
                        <p class="card-text card-footer "><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div *ngIf="notIsActive[1].isActive" class="col">
                        
                        <ul class="list-group col" >
                            <li class="card border border-warning" *ngFor="let cast of movieDetail.data.movie.cast;index as i">
                                <div class="p-2" *ngIf="i === castIndex">
                                    <label class="text-small text-muted text-warning" >Name</label>
                                    
                                    <p class="text-success">{{cast.name}}</p>
                                    <hr>
                                    <label class="text-muted">Role</label>
                                    <p class="text-success" >{{cast.role}}</p>
                                    <hr>
                                    <label *ngIf="cast.characterName" class="text-muted" >Character Name</label>
                                    <p *ngIf="cast.characterName" class="text-success">
                                        {{cast.characterName}}
                                    </p>
                                    <hr>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="notIsActive[2].isActive" class="col">
                        <div class="card ">
            
                            <div id="carouselWithControls" class="carousel slide col" >
                              <div class="card border-success">
                                <div class="images-container">
                                  <img 
                                  src={{movieDetail.data.movie.images[addImageIndex()].url}} 
                                  class="carousel-image"
                                  [ngStyle]="{'width' : '8rem'}"
                                  alt="Slide 1">
                                  <img 
                                  src={{movieDetail.data.movie.images[currentImageIndex].url}} 
                                  class="carousel-image"
                                  
                                  alt="Slide 2">
                                  <img 
                                  src={{movieDetail.data.movie.images[subImageIndex()].url}} 
                                  class="carousel-image"
                                  [ngStyle]="{'width' : '8rem'}"
                                  alt="Slide 3">
                                </div>
                                
                              </div>
                              <a class="carousel-control-prev"  role="button" (click)="carouselMinus()">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </a>
                              <a class="carousel-control-next"  role="button" (click)="carouselPlus()">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </a>
                            </div>
                      </div>
                      
                    </div>
                    <div *ngIf="notIsActive[3].isActive" class="col card border border-success">
                        <label>Director</label>
                        <p class="text-success" >{{movieDetail.data.movie.directedBy}}</p>
                        <hr>
                        <label>Release Date</label>
                        <p class="text-success" >{{movieDetail.data.movie.releaseDate}}</p>
                        <hr>
                        <label>Total Gross</label>
                        <p class="text-success" >{{movieDetail.data.movie.totalGross | currency}}</p>
                        <hr>
                    </div>
                    <div *ngIf="notIsActive[4].isActive" class="col card ">
                        <div class="card border border-secondary m-1 p-1">
                            <label class="text-warning" >Tomato Meter</label>
                            <p class="text-info" >{{movieDetail.data.movie.tomatoRating.tomatometer}}</p>
                        </div>
                        <div class="card border border-danger m-1 p-1">
                            <label class="text-warning" >Rating Count</label>
                            <p class="text-info" >{{movieDetail.data.movie.tomatoRating.ratingCount}}</p>
                        </div>
                        <div class="card border border-danger m-1 p-1">
                            <label class="text-warning" >Consensus</label>
                            <p class="text-info" [innerHTML]="movieDetail.data.movie.tomatoRating.consensus" ></p>
                        </div>
                        
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div *ngIf="movieDetail.data.movie.trailer" class="container-sm">
        <vg-player class="card-img-top" >
                
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                <source 
                src={{movieDetail.data.movie.trailer.url}} 
                type="video/mp4">
            </video>
        </vg-player>
        <div class="card-body">
            <h5 class="card-title text-warning">Trailer</h5>
        </div>
    </div>
    <div *ngIf="!movieDetail.data.movie.trailer">
        <p>There is not currently a trailer for this film...</p>
        <hr>
    </div>
</div>
</div>


