.toasty {
    margin-top: 70px;
    z-index: 9000;
    overflow:none;
}
/* .floaty {
    
    overflow:none;
    z-index:1;
}
.dd {
    float:inline-start;
    overflow:none;
    z-index:1;
} */

#center-nav-bar{
    margin-left:190px;
}

#nav-style-test{
    float:inline-end;
}