
<app-loading *ngIf="!upcomingMovieDetails"></app-loading>
<div *ngIf="upcomingMovieDetails">
    <div>
        <h1 class="text-center" class="card-text text-success font-monospace">Upcoming Movies!</h1>
   </div>
   <div class="card border border-success p-2 mb-2">
   <div class="table-responsive">
       <table class="table align-middle">
           <thead>
               <tr class="text-warning">
                   <th scope="col-sm-10">Movie Poster</th>
                   <th scope="col-sm-10">Movie Name</th>
                   <th scope="col-sm-10">Opening Date</th>
                   <th scope="col-sm-10">Details</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let detail of upcomingMovieDetails.data.upcoming.slice(startMovieIndex,endMovieIndex)">
                   <td><img height="105px" width="105px" src={{detail.posterImage.url}}></td>
                   <td>{{detail.name}}</td>
                   <ng-template class="item"
                   *ngIf="detail.releaseDate == null; then releaseDateThenBlock else releaseDateElseBlock">
                   </ng-template>
                   <ng-template #releaseDateThenBlock>
                   <td>Release Date TBD!</td>
                   </ng-template>
                   <ng-template #releaseDateElseBlock>
                   <td>{{detail.releaseDate | date:'fullDate'}}</td>
                   </ng-template>
                   <td><a class="btn btn-outline-success" (click)="passEmsVersionId(detail.emsVersionId)"
                           routerLink="/movie-detail">Movie Details <i class="bi bi-film"></i></a></td>
   
               </tr>
           </tbody>
   
       </table>    
       </div>
   </div>
   
       <div *ngIf="startOfMovies; then thenBlock else elseBlock">
       </div>
       <ng-template #thenBlock><button class="btn btn-outline-success" type="button"
               (click)="getNextSixMovies(startMovieIndex,endMovieIndex)">More Movies <i class="bi bi-chevron-right"></i></button>
       </ng-template>
       <ng-template #elseBlock>
           <button style="margin-right:20px" class="btn btn-outline-success" type="button"
               (click)="getLastSixMovies(startMovieIndex,endMovieIndex)"><i class="bi bi-chevron-left"></i> Previous Movies</button>
           <button class="btn btn-outline-success" type="button" (click)="getNextSixMovies(startMovieIndex,endMovieIndex)">More
               Movies <i class="bi bi-chevron-right"></i></button>
           <button style="margin-left:20px" class="btn btn-outline-success" type="button" (click)="getFirstSixMovies()"><i class="bi bi-chevron-double-left"></i> Back to
               Start</button>
       </ng-template>
</div>

