<div *ngIf="movieDetail">
<button (click)="addMovieDetail()">Bunton</button>

<div class="card m-4 border border-success bg-dark rounded">
    <div class="card-header">
        <h2 class="text-warning" >{{movieDetail.data.movie.name | uppercase}}</h2>
        <hr class="text-success" >
        <ul class="nav nav-tabs card-header-tabs" >
        
        <li class="nav-item bg-secondary m-1" >
            <a class="nav-link" id="card-tab-one">Description</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-two">Cast</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-three">Images</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-four">General Information</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-five">Reviews</a>
        </li>
        <li class="nav-item bg-primary m-1"  >
            <a class="nav-link" id="card-tab-six">Trailer</a>
        </li>
        </ul>
    </div>
</div>

<!-- <div   class="card m-4 p-4 border border-success bg-dark rounded" *ngIf="movieDetail" > -->
    
    <div  >
        <app-movie-description 
        [movieImage]="movieDetail.data.movie.posterImage.url" 
        [synopsis]="movieDetail.data.movie.synopsis" 
        [isActive]="notIsActive[0].isActive" ></app-movie-description>

        <app-movie-cast 
        [movieImage]="movieDetail.data.movie.posterImage.url" 
        [movieCast]="movieDetail.data.movie.cast" 
        [isActive]="notIsActive[1].isActive" ></app-movie-cast>

        <app-movie-images 
        [movieImage]="movieDetail.data.movie.posterImage.url"
        [images]="movieDetail.data.movie.images"
        [isActive]="notIsActive[2].isActive"></app-movie-images>

        <app-movie-info
        [movieImage]="movieDetail.data.movie.posterImage.url"
        [directedBy]="movieDetail.data.movie.directedBy"
        [releaseDate]="movieDetail.data.movie.releaseDate"
        [totalGross]="movieDetail.data.movie.totalGross"
        [isActive]="notIsActive[3].isActive"></app-movie-info>

        <app-movie-reviews
        [movieImage]="movieDetail.data.movie.posterImage.url"
        [isActive]="notIsActive[4].isActive"
        [tomatometer]="movieDetail.data.movie.tomatoRating.tomatometer"
        [ratingCount]="movieDetail.data.movie.tomatoRating.ratingCount"
        [consensus]="movieDetail.data.movie.tomatoRating.consensus"></app-movie-reviews>

        <app-trailer 
        [isActive]="notIsActive[5].isActive" 
        [trailerUrl]="movieDetail.data.movie.trailer.url" ></app-trailer>
                    <div *ngIf="!movieDetail.data.movie.trailer">
                        <p>There is not currently a trailer for this film...</p>
                        <hr>
                    </div>
        
        
        <!-- <div *ngIf="notIsActive[1].isActive"  >
            <div class="btn-group">
                <div class="m-1">
                    <button 
                    (click)="castIncrementEvent($event)"
                    id="cast-prev"
                    class="btn btn-dark text-info">Prev</button>
                </div>
                
                <div class="m-1">

                    <button 
                    (click)="castIncrementEvent($event)"
                    id="cast-next"
                    class="btn btn-dark text-info">Next</button>
                </div>
            </div> -->
            
            <!-- <div class="progress">
                <div 
                id="progress-bar"
                [ngStyle]="progressBarStyle()"
                class="progress-bar "></div>
            </div> -->
        </div>
        
        <div class="row">
            <div  class="row card-body bg-dark border">
                <div class="row m-4 float-left">
                    

                    <!-- <div *ngIf="notIsActive[2].isActive" class="row card-body bg-dark border" >
                        <div class="card">
            
                            <div id="carouselWithControls" class="carousel slide col" >
                              <div class="card border-success">
                                <div class="images-container">
                                  <img 
                                  src={{movieDetail.data.movie.images[addImageIndex()].url}} 
                                  class="carousel-image"
                                  [ngStyle]="{'width' : '8rem'}"
                                  alt="Slide 1">
                                  <img 
                                  src={{movieDetail.data.movie.images[currentImageIndex].url}} 
                                  class="carousel-image"
                                  
                                  alt="Slide 2">
                                  <img 
                                  src={{movieDetail.data.movie.images[subImageIndex()].url}} 
                                  class="carousel-image"
                                  [ngStyle]="{'width' : '8rem'}"
                                  alt="Slide 3">
                                </div>
                                
                              </div>
                              <a class="carousel-control-prev"  role="button" (click)="carouselMinus()">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </a>
                              <a class="carousel-control-next"  role="button" (click)="carouselPlus()">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </a>
                            </div>
                      </div> -->
                      
                    </div>
                    <!-- <div *ngIf="notIsActive[3].isActive" class="col card border border-success">
                        <label>Director</label>
                        <p class="text-success" >{{movieDetail.data.movie.directedBy}}</p>
                        <hr>
                        <label>Release Date</label>
                        <p class="text-success" >{{movieDetail.data.movie.releaseDate}}</p>
                        <hr>
                        <label>Total Gross</label>
                        <p class="text-success" >{{movieDetail.data.movie.totalGross | currency}}</p>
                        <hr>
                    </div> -->
                    <!-- <div *ngIf="notIsActive[4].isActive" class="col card ">
                        <div class="card border border-secondary m-1 p-1">
                            <label class="text-warning" >Tomato Meter</label>
                            <p class="text-info" >{{movieDetail.data.movie.tomatoRating.tomatometer}}</p>
                        </div>
                        <div class="card border border-danger m-1 p-1">
                            <label class="text-warning" >Rating Count</label>
                            <p class="text-info" >{{movieDetail.data.movie.tomatoRating.ratingCount}}</p>
                        </div>
                        <div class="card border border-danger m-1 p-1">
                            <label class="text-warning" >Consensus</label>
                            <p class="text-info" [innerHTML]="movieDetail.data.movie.tomatoRating.consensus" ></p>
                        </div>
                        
                    </div> -->
                    
                </div>
              <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
    
</div>
    <div [ngStyle]="getBackgroundImage()" class="card m-4 p-4 border border-success bg-dark rounded"></div>
</div>


