
<app-loading *ngIf="!currentlySelectedTheater"></app-loading>

<div *ngIf="currentlySelectedTheater">
    <div class="card m-4 p-4 border border-primary">
      <div class="row container-fluid">
        <div class="col-10"></div>
        <div class="col">
          <button 
          (click)="movieDetails(currentTitle.emsVersionId)"
          class="btn btn-outline-success">Movie Details</button>
        </div>
      </div>
      
      
        <div class="card-body">
          <h4 class="text-success" >
            <p class="card-text">{{this.currentTitle.name}}</p>
          </h4>
          
          <h6 class="card-subtitle mb-2 text-muted">Now Showing</h6>
          <div class="row" >

        </div>
        
          
          <img 
          class="image-fluid" 
          height="200px" 
          width="200px" 
          src={{currentTitle.posterImage.url}}>
          
          
        </div>
        <div class="btn-group">
            <a 
            (click)="previousTitle()"
            class="btn btn-outline-info">Previous</a>
            <a  
            (click)="nextTitle()"
            class="btn btn-outline-info">Next</a>
          </div>
      </div>
</div>