
<div class="row-cols-7" >
  <app-nav></app-nav>
  <div class="m-4 p-4" *ngIf="registeredUser">
    <h4 class="text-success text-center" >Welcome {{registeredUser.userName }}</h4>
  </div>
  <div class="m-4 p-4" >
    <hr [ngStyle]="{'color' : 'red'}" >
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    
    
    <!-- <button (click)="getShow()" class="btn btn-success">Hello Bootstrap</button> -->
    <div  class="col-xs-12">
      
      
    </div>
  </div>
</div>
<app-news></app-news>