
<div class="row-cols-7" >
  <app-nav></app-nav>
  <div [ngStyle]="{ 'margin' : '70px' }" ></div>
  <!-- <app-actors></app-actors> -->
  <div class="m-4 p-4" *ngIf="registeredUser">
    <h4 class="text-success text-center" >Welcome {{registeredUser.userName }}</h4>
  </div>
  <!-- <div class="m-4 p-4" > -->
    <!-- This div is adding too much space above the news-component html -->
    <!-- <hr [ngStyle]="{'color' : 'red'}" > -->
  <!-- </div> -->
  <router-outlet></router-outlet>
  
  <!-- <app-favorite-list></app-favorite-list> -->
  <div class="row">
    
    
    <!-- <button (click)="getShow()" class="btn btn-success">Hello Bootstrap</button> -->
    <div  class="col-xs-12">
      
      
    </div>
  </div>
</div>
