.horizontal {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    display: inline-flex;
    flex-flow: row wrap;
    /* width: 100%; */
} 

  a:active { 
    color: red;
}

.news {
  max-width: 360px;
}

a {
  font-size: medium;
  color: currentColor;
  text-align: center;
}
/* .news-image {
  background-size: cover;
  
} */