  <!--  <div class="row">
        <div  class="row card-body bg-dark border">
            <div class="row m-4 float-left">
            </div>
        </div>
    </div>-->
    <div 
    class="card p-4 m-4 bg-dark rounded border border-success  sm-flex">
    <div>
        <h4 class="text-warning" >MOVIE IMAGES</h4>
        <hr>
        <div class="row">
            <div  class="row card-body bg-dark border ">
                <div class="row float-left   sm-flex">
                    <img 
                    class="col poster" 
                    src={{movieImage}}>
    
                    <div  class="card col bg-dark alert-danger mt-7" >
                        <section class="list-with-scroll">
                                <div 
                                class="list" 
                                appScrollable #list="appScrollable" 
                                [scrollUnit]="800">
                                
                                <div *ngFor="let image of images; index as i">
                                    
                                    <div class="news">
                                        <img 
                                        class="news-image alert-info" 
                                        src={{image.url}}>
                                    </div>
                                </div>
                            </div>  
                            <button 
                            class="scroll-button btn btn-dark text-info" 
                            *ngIf="list.isOverflow" 
                            [class.disable]="!list.canScrollStart"
                            (click)="list.scroll(-1)" id="scroll-left">&#8678;</button>
                        
                            <button 
                            class="scroll-button btn btn-dark text-info" 
                            *ngIf="list.isOverflow" 
                            [class.disable]="!list.canScrollEnd"
                            (click)="list.scroll(1)">&#8680;</button>
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <div>
            <h4 class="text-warning" >MOVIE IMAGES</h4>
            <hr>
            <div class="row">
                <div  class="row card-body bg-dark border ">
                    <div class="row m-4 float-left">
                        <img class="col poster" src={{movieImage}}>

                        <div  class="card col bg-dark " >
                            <div class="card">

                                <div 
                                *ngIf="images.length >="
                                id="carouselWithControls" 
                                class="carousel slide col" >
                                    <div class="card border-success">
                                    <div class="images-container">
                                        <img 
                                        src={{images[addImageIndex()].url}} 
                                        class="carousel-image"
                                        [ngStyle]="{'width' : '8rem'}"
                                        alt="Slide 1">
                                        <img 
                                        src={{images[currentIndex].url}} 
                                        class="carousel-image"
                                        
                                        alt="Slide 2">
                                        <img 
                                        src={{images[subImageIndex()].url}} 
                                        class="carousel-image"
                                        [ngStyle]="{'width' : '8rem'}"
                                        alt="Slide 3">
                                    </div>
                                    
                                    </div>
                                    <a class="carousel-control-prev"  role="button" (click)="carouselMinus()">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next"  role="button" (click)="carouselPlus()">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div> 