
<div 
class="card p-4 m-4 bg-dark rounded alert-success"
>
    <div>
        <h4 class="text-warning" >MOVIE IMAGES</h4>
        <hr>
        <div class="row">
            <div  class="row card-body  ">
                <div class="row m-4 float-left">
                    <img class="col poster" src={{movieImage}}>

                    <div  class="card col bg-dark" >
                        <div class="card">
                            <section class="list-with-scroll">

                                <div id="carouselWithControls" 
                                appScrollable 
                                #list 
                                class="list-with-scroll" >
                                <button class="scroll-button btn btn-outline-success">Clc</button>
                                <div class="images-container">
                                    <div class=" alert-light rounded">
                                        <div class="m-2 bg-dark rounded">
                                            <div class="p-2 bg-dark rounded">
                                                <img 
                                                src={{images[addImageIndex()].url}} 
                                                class="news-image"
                                                [ngStyle]="{'width' : '8rem'}"
                                                alt="Slide 1">
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    

                                    <img 
                                    src={{images[currentIndex].url}} 
                                    class="news-image"
                                    [ngStyle]="{'width' : '8rem'}"
                                    alt="Slide 2">
                                    <img 
                                    src={{images[subImageIndex()].url}} 
                                    class="news-image"
                                    [ngStyle]="{'width' : '8rem'}"
                                    alt="Slide 3">
                                </div>
                                <button class="scroll-button btn btn-outline-success">Clack</button>
                                </div>
                            </section>
                            
                            
                                <!-- <div class="card alert-info ">
                               
                                
                                </div> -->
                                <!-- (click)="carouselMinus()" -->
                                <!-- (click)="carouselPlus()" -->
                                <!-- <a class="carousel-control-prev" role="button" >
                                <span class="carousel-control-prev-icon" 
                                aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" role="button" >
                                <span class="carousel-control-next-icon" 
                                aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div> 