
<div 
[ngClass]="isActive ? ['card', 'm-4', 'p-4', 'bg-dark', 'rounded', 'border', 'border-success']:['position-absolute']" 
[@componentState]="isActive ? 'show':'hidden'" >

    <div>
        <h4 class="text-warning" >Trailer</h4>
        <hr>
        <div class="row">
            <div  class="row card-body bg-dark border ">
                <div class="row m-4 float-left">
                    

                    <div class="card col border border-danger">
                        <div 
                        [ngClass]="isActive ? ['border', 'border-danger', 'p-4', 'm-4', 'trailer-class']:['trailer-class']" 
                        [@trailerState]="isActive ? 'show' : 'hidden'" 
                        class="col card ">
                            <vg-player  class="card" >
                                        
                                <video  [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                                    <source 
                                    src={{trailerUrl}}
                                    type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>





