.bi-star-fill {
    color: gold;
}

/* .bi-star-fill:hover {
    color: transparent;
} */
/* .star1:hover, .star1:hover ~ .star1{
    color:rgb(24, 194, 24);    
} */

/* .fav-btn:hover {
    color: red;
} */
.btn-success:hover{
    background-color: red;

}
@media(max-width: 700px){
    .poster {
        max-width: 200px;
        min-width: 200px;
        /* max-height: 255.3px; */
        height:auto;
        margin-bottom: 3px;
    }
    p, button, a {
        font-size: 10px;
    }
}