/* dl {
    width: 1000px;
}
dl dt {
    width: 160px;
    float: left;
    padding: 0;
    margin-right: 100px;
    margin-bottom: 30px;
}
dl dd {
    width: 700px;
    float: left;
    padding: 0;
    margin-bottom: 30px;
} */