
   <!--  <div class="row">
        <div  class="row card-body bg-dark border">
            <div class="row m-4 float-left">
            </div>
        </div>
    </div>-->
<div 
[ngClass]="isActive ? ['card', 'm-4', 'p-4', 'bg-dark', 'rounded', 'border', 'border-success']:['position-absolute']" 
[@componentState]="isActive ? 'show':'hidden'" >
    <div>
        <h4 class="text-warning" >MOVIE IMAGES</h4>
        <hr>
        <div class="row">
            <div  class="row card-body bg-dark border ">
                <div class="row m-4 float-left">
                    <img class="col poster" src={{movieImage}}>

                    <div  class="card col bg-dark " >
                        <div class="card">

                            <div id="carouselWithControls" class="carousel slide col" >
                                <div class="card border-success">
                                <div class="images-container">
                                    <img 
                                    src={{images[addImageIndex()].url}} 
                                    class="carousel-image"
                                    [ngStyle]="{'width' : '8rem'}"
                                    alt="Slide 1">
                                    <img 
                                    src={{images[currentIndex].url}} 
                                    class="carousel-image"
                                    
                                    alt="Slide 2">
                                    <img 
                                    src={{images[subImageIndex()].url}} 
                                    class="carousel-image"
                                    [ngStyle]="{'width' : '8rem'}"
                                    alt="Slide 3">
                                </div>
                                
                                </div>
                                <a class="carousel-control-prev"  role="button" (click)="carouselMinus()">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next"  role="button" (click)="carouselPlus()">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div> 