/* #test{

padding-top: -150%;


} */

/* .test{
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media(max-width: 600px) {
    button {
        max-width: 80px;
        font-size: 8px;
    }
}